<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<div class="big_container">
<header>

  <nav>
    <%= link_to root_path do %>
        <i class="fa fa-book fa-2x"></i>
      <%end%>
    <%= link_to new_book_path do%>
        <i class="fa fa-plus-square fa-2x"></i>
      <%end%>
    <%= link_to authors_path do%>
        <i class="fa fa-graduation-cap fa-2x"></i>
      <%end%>
    <%= link_to new_author_path do%>
        <i class="fa fa-plus-circle fa-2x"></i>
      <%end%>
</nav>
</header>
<body>


  <%= yield %>
</div>


</body>
</html>
